.c-header {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.c-header__end {
  display: flex;
  gap: 1rem;
}

.c-main {
  padding: 1rem;
}
